/*eyebrow_base.css*/

#eyebrow{margin-top: 3.2rem;}
#lnb{width: 100%;height: 3rem;box-sizing: border-box;}
    #lnb li{width: 20%;height: inherit;box-sizing: border-box;border-right: 1px solid #fff;float: left;font-size: 0.9rem;text-align: center;font-family: 'Open Sans', sans-serif;font-weight: lighter;color: #fff;background-color: #222;line-height: 3rem;}
    #lnb li:last-child{border-right: 0;}
        #lnb li button{width: 100%;height: inherit;border-right: 0;color: #fff}
.info{width: 100%;height: 20rem;background-color: #ccc;}


content{display: none;}
content div{width: 100%;box-sizing: border-box;/*border: 1px solid #f20;*/background-position: center top;background-repeat: no-repeat;background-size: 100%;}
.eyebrow_bar{display: block;}
    .eyebrow_bar div {width: 100%;/*box-sizing: border-box;border: 1px solid #f20;*/}
.eyebrow_bar div:first-child{height: 40rem;background-image: url(../../../img/eyebrow/eyebrow_img_01.jpg)}
.eyebrow_bar div:nth-child(2){height: 40rem;background-image: url(../../../img/eyebrow/eyebrow_img_02.jpg)}
    .service {    }
    .service div {    }
    .service div:first-child {background-image: url(../../../img/eyebrow/service_img_01.jpg)    }
    .service div:nth-child(2) {background-image: url(../../../img/eyebrow/service_img_02.jpg)    }
    .service div:nth-child(3) {background-image: url(../../../img/eyebrow/service_img_03.jpg)    }
    .qna {    }
    .qna div {background-image: url(../../../img/eyebrow/faq_img_01.jpg)    }
    .location {    }
    .location div {    }
    .location div:first-child  {background-image: url(../../../img/eyebrow/location_img_01.jpg)    }
    .location div:nth-child(2) {background-image: url(../../../img/eyebrow/location_img_02.jpg)    }
    .location div:nth-child(3) {background-image: url(../../../img/eyebrow/location_img_03.jpg)    }
    .location div:nth-child(4) {background-image: url(../../../img/eyebrow/location_img_04.jpg)    }
    .location div:nth-child(5) {background-image: url(../../../img/eyebrow/location_img_05.jpg)    }
    .item {    }
    .item div {background-image: url(../../../img/eyebrow/makeup_img_01.jpg)    }
    .item ul {    }
    .item li {    }

.info{background-image: url(../../../img/eyebrow/eyebrow_top.jpg);background-repeat: no-repeat;background-size: cover;box-sizing: border-box;border-bottom: 1px solid #333;}