/*eyebrow_base.css*/

.color_pad ul li label,
    .color_pad ul li i{color: inherit;}
    .color_01 {background-color: #d9c06c;}
    .color_02 {background-color: #808080;}
    .color_03 {background-color: #008001;color:#fff;}
    .color_04 {background-color: #171951;color:#fff;}
    .color_05 {background-color: #dbccfd;}
    .color_06 {background-color: #fe0000;color:#fff;}
    .color_07 {background-color: #df386c;}
    .color_08 {background-color: #d1ffea;}
    .color_09 {background-color: #f3dccc;}
    .color_10 {background-color: #8b4512;color:#fff;}
    .color_11 {background-color: #000;color:#fff;}
    .color_12 {background-color: #0000ce;color:#fff;}
    .color_13 {background-color: #c0c0c0;}
    .color_14 {background-color: #ebce34;}
    .color_15 {background-color: #fe5b30;}
    .color_16 {background-color: #38533f;color:#fff;}
    .color_17 {background-color: #9d0957;color:#fff;}
    .color_18 {background-color: #ffc8ae;}
    .color_19 {background-color: #ff7376;}
    .color_20 {background-color: #ffc0cb;}
    .color_21 {background-color: #fff;border: 1px solid #000;}

#sample_color ul li{background-size: cover;background-repeat: no-repeat;background-position: center;position: relative;font-family: 'Noto Sans KR', sans-serif;}

#sample_color ul li:hover{border: 3px solid #000}
.text{position: absolute;background-color: #000;width: 8rem;height: auto;top: 50%;left: 0;z-index: 100;color: #fff;box-sizing: border-box;padding: 0.4rem;}

